*.arm
*.cmd
*.gxc
*.arn
*.zip
*.dcu
*.tmp
*.~*~
*.~pas
*.~dpk
*.local
*.identcache
__history
*.drc
*.map
*.exe
*.dll
/1401 commands/
/Digidata 1200 Support (Win 2000)/
/Digidata 1200 Support (Win 9x)/
/temp/
